aiowebsocket==1.0.0.dev2
akshare==0.5.58
appnope==0.1.0
APScheduler==3.6.3
astroid==2.4.1
attrs==19.3.0
autopep8==1.5.2
Babel==2.8.0
backcall==0.1.0
backtrader==1.9.74.123
backtrader-plotting==1.1.0
baostock==0.8.8
beautifulsoup4==4.9.1
bleach==3.1.5
bokeh==2.0.2
Brotli==1.0.7
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cli-helpers==2.0.1
click==7.1.2
conda==4.8.3
conda-package-handling==1.7.0
configobj==5.0.6
cryptography==2.9.2
cycler==0.10.0
deap==1.3.1
decorator==4.4.2
defusedxml==0.6.0
Delorean==1.0.0
demjson==2.2.4
docopt==0.6.2
easytrader==0.20.4
easyutils==0.1.7
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.2
fonttools==4.12.1
futu-api==3.20.0
future==0.18.2
gevent==20.6.0
greenlet==0.4.16
helpdev==0.7.1
html5lib==1.0.1
humanize==2.4.0
ibapi==9.75.1
idna==2.9
importlib-metadata==1.6.0
ipdb==0.13.2
ipykernel==5.3.0
ipympl==0.5.6
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.2
joblib==0.15.1
jqdatasdk==1.8.1
jsonpath==0.82
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.1
markdown2==2.3.9
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
mongoengine==0.20.0
more-itertools==8.3.0
mpl-finance==0.10.1
mplfinance==0.12.4a0
msgpack==1.0.0
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numexpr==2.7.1
numpy==1.18.4
oauthlib==3.1.0
openpyxl==3.0.4
packaging==20.4
pandas==0.25.3
pandocfilters==1.4.2
parso==0.7.0
peewee==3.13.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pluggy==0.13.1
ply==3.11
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.5.1
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.8.1
PyAlgoTrade==0.20
pyalgotrade-tushare==0.1.2
pyasn1==0.4.2
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycryptodome==3.9.7
pyecharts==1.7.1
PyExecJS==1.5.1
Pygments==2.6.1
pylint==2.5.2
pymongo==3.10.1
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypinyin==0.38.1
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyqtgraph==0.10.0
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
python-rapidjson==0.9.1
pytz==2020.1
pywinauto==0.6.8
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QScintilla==2.10.3
QtPy==1.9.0
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rqdatac==2.8.3
rqopen-client==0.0.6
rsa==4.0
ruamel-yaml==0.15.87
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
setproctitle==1.1.10
simplejson==3.17.0
sip==4.19.8
six==1.14.0
sklearn==0.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
sqlparse==0.3.1
stomp.py==4.1.22
TA-Lib==0.4.18
tabulate==0.8.7
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
thriftpy2==0.4.11
tigeropen==1.2.0
toml==0.10.1
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
tushare==1.2.60
tweepy==3.8.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
tzlocal==2.1
urllib3==1.25.8
vnpy==2.1.3
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
ws4py==0.5.1
xlrd==1.2.0
zipp==3.1.0
zmq==0.0.0
zope.event==4.4
zope.interface==5.1.0
